In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [4]:
df.sample(5)

    age  gender   review education purchased
6    18    Male     Good    School        No
2    70  Female     Good        PG        No
44   77  Female  Average        UG        No
27   69  Female     Poor        PG        No
11   74    Male     Good        UG       Yes